<div class="accordion" id="accountAccordion">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accountAccordion" href="#accountCollapse"><i id="icon-accountCollapse" class="icon-chevron-down"></i> <%= bundle.account %></a>
		</div>
		<div id="accountCollapse" class="accordion-body collapse in">
			<div class="accordion-inner">
				<table class="table table-striped table-condensed" style="margin: 0px;">			
					<tbody>
						<% _.each(accounts, function(account, index){ %>
						<tr>
							<td><%= account.get('name') %><br/><%= format.account(account.get('id')) %></td>
							<td><span class="pull-right"><%= format.currency(account.get('balance')) %></span></td>
						</tr>
						<% }); %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="chart" class="hidden-phone"></div>
<!-- <div id="chart"></div> -->