<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lesson</title>
<link rel="stylesheet" href="style.css" type="text/css">
<script src="../sandbox/sandbox.js"></script>
<script src="../reuse/module-reuse.js"></script>
<script src="../lesson/module-lesson.js"></script>
</head>
<body>
	<header id="page_header">
		<h1>Lesson</h1>
		<nav>
			<ul>
				<li>foo</li>
				<li>bar</li>
			</ul>
		</nav>
	</header>

	<section id="lesson">
		<header>
			<h2>Lesson</h2>
		</header>
		<p>ipsum dorum</p>
		<button id="start_button">Start</button>
		<label id="question_label"></label>
		<input id="question_input" type="text"></input>
	</section>

	<section id="help">
		<header>
			<h2>Help</h2>
		</header>
		<p>ipsum dorum</p>
	</section>

	<footer id="page_footer">
		<p>&copy; Magnus Bjuvensjö</p>
		<nav>
			<ul></ul>
		</nav>
	</footer>

    <script src="lesson.js"></script>
</body>
</html>