body {
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 100%;
	margin-top: 3%;
	margin-left: 10%;
}

#mainDiv {
	background-color: #D8D8D8;
	border: 0.1em solid #D8D8D8;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	width: 60%;
}

#addInput {
	width: 96%;
	margin: 1em 0 0 1.1em;
}

#tasksDiv {
	resize: both;
	overflow: auto;
	margin: 1em;
}

.taskDiv {
	border-top: 0.1em solid grey;
	border-left: 0.1em solid grey;
	border-right: 0.1em solid grey;
}

.taskDiv:nth-child(1) {
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

.taskDiv:nth-child(1n) {
	background-color: #F8F8F8;
}

.taskDiv:nth-child(2n) {
	background-color: #E8E8E8;
}

.taskDiv:last-child {
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-bottom: 0.1em solid grey;
}

.task {
	list-style: none;
	margin: 0;
	padding: 0.4em 0.4em;
}

.task li {
	display: inline-block;
	min-height: 13px;
	margin-left: 0.2em;
}

li.id {
	display: none;
}

.priority {
	width: 0.4em;
}

.priority0 {
	background-color: transparent;
}

.priority1 {
	background-color: red;
}

.priority2 {
	background-color: blue;
	width: 0.4em;
}

.labels {
	color: #0060BF;
	font-size: 0.7em;
	font-family: arial, sans-serif;
	min-width: 4em;
}

.due {
	float: right;
	color: #878787;
	font-size: 0.7em;
	font-family: arial, sans-serif;
}
